

<h1>Project</h1>



<table>
  <tr>
    <th>タイトル</th>
    <th></th>
    <th></th>
  </tr>


  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.planName, project_path(project.id) %></td>
    <td><%= link_to "[編集]", edit_project_path(project.id) %></td>
    <td><%= link_to "[削除]", project_path(project.id), method: :delete, data: { confirm: "えっ、消すけどいいの？" }%></td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add New Project", new_project_path %></p>
